<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/add" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="textInput" class="form-label">Text Input</label>
            <input type="text" class="form-control" id="textInput" name="data" placeholder="Enter text", Required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>